.list {
  display: flex;
  justify-content: center;
}
.item {
  box-shadow: rgba(255, 255, 255) 0px 3px 8px;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  width: 150px;
  height: 310px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.imageWrapper {
  width: 150px;
  height: 220px;
  margin-bottom: 10px;
}
.imageWrapper img {
  display: block;
  width: 150px;
  height: 220px;
  object-fit: cover;
}
.info {
  padding: 0 10px;
}
.info p {
  margin-bottom: 10px;
  text-align: center;
}
.title {
  font-weight: 600;
}
