.info {
  padding: 20px 40px;
  display: flex;
}
.imgWrapper {
  width: 300px;
  height: 450px;
  margin-right: 40px;
}
.imgWrapper > img {
  display: block;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  object-fit: fill;
}
.title {
  margin-right: 15px;
  font-size: 26px;
  font-weight: 600;
}
.tag {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}
.overview {
  margin-bottom: 20px;
  margin-top: 20px;
}
.seasons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.textWrapper p {
  color: white;
}
.textWrapper a {
  color: white;
  text-decoration: none;
}
