.seasonItem {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgb(255 255 255) 0px 3px 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.seasonImgWrapper {
  width: 100px;
  height: 170px;
  margin-right: 40px;
}
.img {
  width: 100px;
  height: 170px;
  display: block;
  object-fit: cover;
}
.seasonInfo {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  a {
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
  }
  p {
    margin-bottom: 20px;
  }
}
