.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  padding: 15px;
  margin-left: 20px;
  box-shadow: rgba(255, 255, 255) 0px 3px 8px;
  width: 250px;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
  &:hover {
    transform: scale(1.05);
  }
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.linkText {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}
