.wrapper {
  width: 100%;
  height: calc(100vh - 75px);
  background-image: linear-gradient(
      172.23deg,
      #000000 4.94%,
      rgba(0, 0, 0, 0.35) 45.74%,
      rgba(0, 0, 0, 0.9) 92.94%
    ),
    url('../../images/hero-min.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title {
  color: white;
  margin: 20px 0;
}
.info {
  position: absolute;
  bottom: 150px;
  left: 40px;
  p {
    color: white;
  }
}
