.list {
  display: flex;
  justify-content: center;
}
.item {
  box-shadow: rgba(255, 255, 255) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  overflow: hidden;
  margin-right: 15px;
  width: 170px;
  height: 320px;
  border-radius: 10px;
}
.imageWrapper {
  width: 150px;
  height: 220px;
  margin-bottom: 10px;
  img {
    display: block;
    width: 170px;
    height: 220px;
    object-fit: cover;
  }
}
.info {
  padding: 0 10px;
  p {
    margin-bottom: 10px;
    text-align: center;
  }
}

.title {
  font-weight: 600;
}
